<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="AHT::top_level" title="AHT" module="AHT_ImportShopifyDiscount" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="AHT_ImportShopifyDiscount::aht_isd_import" title="Import" module="AHT_ImportShopifyDiscount" sortOrder="9999" resource="Magento_Backend::content" parent="AHT::top_level" action="aht_isd/import/index"/>
	</menu>
</config>
